.folder {
  margin-bottom: 2px;
}

.folder-row {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  margin-bottom: 2px;
  margin-left: -16px;
  margin-right: -16px;
}

.folder-row:hover {
  background-color: hsl(0, 0%, 96%);
}

.folder-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  margin-bottom: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  gap: 8px;
  margin-left: -16px;
  margin-right: -16px;
}

.item:hover {
  background-color: hsl(0, 0%, 96%);
}

input[type="checkbox"] {
  accent-color: hsl(213, 97%, 53%);
}

.icon-container {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
