<div class="folder">
  <!-- folder title and svg arrows -->
  <div
    class="folder-row"
    [style.padding-left.px]="level * 20 + 16"
    (click)="toggleExpand()"
  >
    <div class="folder-title">
      <input
        #folderCheckbox
        type="checkbox"
        [id]="'folder-' + folder.id"
        [checked]="isFolderChecked()"
        (change)="onFolderCheckboxChange($event)"
        (click)="$event.stopPropagation()"
      />
      <label [for]="'item-' + folder.id">{{ folder.title }} </label>
    </div>
    <div class="icon-container">
      @if (isExpanded) {
      <img src="/icons/expand_less.svg" alt="Collapse" width="8" height="5" />
      } @else {
      <img src="/icons/expand_more.svg" alt="Expand" width="8" height="5" />
      }
    </div>
  </div>

  @if (isExpanded) {
  <div class="folder-content">
    <!-- child folder: recursively call component for flexibility -->
    @for (childFolder of folder.childFolders; track childFolder.id) {
    <app-folder-row
      [folder]="childFolder"
      [level]="level + 1"
      [selectedIds]="selectedIds"
    ></app-folder-row>
    } @if (folder.items && folder.items.length > 0) {
    <!-- items -->
    <div class="items">
      @for (item of folder.items; track item.id) {
      <div class="item" [style.padding-left.px]="(level + 1) * 20 + 16">
        <input
          type="checkbox"
          [id]="'item-' + item.id"
          [checked]="selectedIds.has(item.id)"
          (change)="onItemCheckboxChange(item.id, $event)"
        />
        <label [for]="'item-' + item.id">{{ item.title }}</label>
      </div>
      }
    </div>
    }
  </div>
  }
</div>
